In [1]:
# import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Prepare Data

### 1: Read in data

In [3]:
# Read in CSV to df
file_path = Path("Resources/lending_data.csv")
df_lending = pd.read_csv(file_path)

df_lending.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### 2: Separate the data into labels and features

In [4]:
# Separate the y variable - the labels
y = df_lending['loan_status']

# Separate the X variable - the features
X = df_lending.drop(columns=['loan_status'])

In [5]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [6]:
# Review the X variable DataFrame
X

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

### 3: Split the data into training and testing sets

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data, assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  1: Fit a logistic regression model with the training data

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Create an instance of the model, with random_state parameter of 1
logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)

### 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model

In [12]:
# Make a prediction using the testing data

# Generate training predictions
training_predictions = lr_model.predict(X_train)

# Generate testing predictions
testing_predictions = lr_model.predict(X_test)

testing_predictions

array([0, 0, 0, ..., 0, 0, 0])

### 3: Evaluate the model’s performance:
* Generate a confusion matrix

* Print the classification report

In [14]:
# Generate a confusion matrix for the model
training_matrix = confusion_matrix(y_train, training_predictions)

# Print the confusion matrix for the training data
print(training_matrix)

[[55994   277]
 [  181  1700]]

277 false positives
181 false negatives

In [15]:
# Print the classification report for the model
training_report = classification_report(y_train, training_predictions)
print(training_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56271
           1       0.86      0.90      0.88      1881

    accuracy                           0.99     58152
   macro avg       0.93      0.95      0.94     58152
weighted avg       0.99      0.99      0.99     58152

### 4: Model Evaluation

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model performed near-perfectly with 99% accuracy, 100% precision, and 100% recall (sensitivity / true positive rate). These scores from the classification report reflect the very minimal number of type I and type II errors shown in the confusion matrix.

---